Repository w3c/wai-website-data, pull requests merged in 2024-12, with the labels that each got.

#184 [Ready for review] Simplified Chinese - Update UI terms
  translations.yml
Labels: translations

#176 Translate menu entry Introduction to Accessibility to pt-BR
  navigation.yml
Labels: translations, navigation

#185 [Ready for review] Turkish – Video Introduction subtitles
  video-metadata.yml
  wai-videos/video-introduction/video-introduction.tr.vtt
Labels: translations, videos
